@import url('https://fonts.googleapis.com/css?family=Roboto:400,700|Source+Sans+Pro:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;

    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #dddddd;

    display: flex;
    flex-direction: column;

    background-image: url('https://source.unsplash.com/collection/1129245');
    background-repeat: no-repeat;
    background-size: cover;
}
    
.background { 
    background-color: #eeeeee;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);

    width: 80%;
    margin: 0 auto;
    position: relative;
}

header, main {
    margin: 0 auto;
    padding: 0 50px;

}

footer {
    color: #fcfcfc;
    font-size: 14px;
    text-align: center;

    background-color: #111111;

    margin-top: auto;
    padding: 20px;
}

footer span {
    color: rgb(134, 42, 134);
}

/* HEADER */
header {
    padding: 30px 50px;
    background-color: rgb(16, 13, 85);

    display: flex;
    align-items: center;

    position: relative;
}

header div h3 {
    font-weight: bold;
    margin-bottom: 5px;
}

header .searchForm {
    position: absolute;
    right: 50px;
}

header .searchForm input {
    font-size: 16px;
    padding: 6px 12px;

    border-radius: 4px;
}

header .searchForm button {
    font-size: 14px;
    font-weight: bold;
    padding: 8px 12px;
    
    border-radius: 4px;

    background-color: #A49EFF;

    cursor: pointer;
}

/* MAIN */
main .now {
    display: flex;

    margin: 80px auto 140px auto;
    height: 140px;
    width: 100%;

    opacity: 0;
    visibility: hidden;

    transition: opacity 500ms;
}

main .now.displayed {
    opacity: 1;
    visibility: visible;
}

main .now .temp {
    display: flex;

    margin-right: 140px;
}

main .now img {
    width: 140px;
    margin-right: 15px;
}

.now .degrees {
    text-align: center;

    position: relative;
    color: black;
}

.now .degrees h1 {
    font-size: 500%;
    font-weight: normal;
}

.now .degrees span {
    position: absolute;
    font-size: 250%;
    top: 10px;
    right: -10px;
}

.now .degrees p {
    text-align: left;
}

/* DETAILS */
main .now .details {
    height: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    
    align-items: center;
}

.now .details div {
    display: flex;
}

.details div img {
    width: 45px;
    height: 45px;

    margin-right: 10px;
    padding: 5px;

    border-radius: 5px;

    background-color: #A49EFF;
}

.details div .info {
    display: flex;
    flex-direction: column;
}

.details div h4 {
    color: #999999;
    font-size: 14px;

    margin-bottom: 5px;
}

.details div p {
    color: #111;
}

.card {
    background-color: rgba(16, 13, 85, 0.9);

    border-radius: 16px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);

    padding: 20px;
    margin-bottom: 80px;
}

/* TODAY */
.today .card {
    padding: 30px;
}

.card h2 {
    font-size: 18px;
}

.today .card .content {
    margin: 20px auto 0 auto;
}

.card .content .next-hours {
    display: flex;
}

.content .next-hours .hour {
    margin-right: 60px;
    position: relative;

    display: flex;
    flex-direction: column;
    

    background-color: #07007D;
    
    min-width: 80px;
    height: 200px;
    padding: 10px;
    text-align: center;

    border: 0.5px solid #969696;
    border-radius: 50px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.next-hours .hour h3 {
    font-size: 18px;
    font-weight: normal;
}

.next-hours .hour img {
    background-color: #A49EFF;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    justify-self: center;
    align-self: center;

    margin: 15px auto 5px auto;
    box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.25);
    border: 2px solid #969696;
}

.next-hours .hour p {
    font-size: 16px;
    text-align: center;
}

.next-hours .hour h2 {
    font-size: 24px;
    font-weight: normal;
    position: absolute;
    bottom: 10px;
    align-self: center;
}

/* NEXT DAYS */
.forward-days .card .days {
    margin-top: 20px;

    display: grid;
    grid-template-columns: repeat(6, 130px);
    gap: 30px;

    justify-content: center;
}

.card .days .day {
    background-color: #07007D;
    border: 0.5px solid #969696;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    padding: 5px 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.days .day h3 {
    font-size: 18px;
}

.days .day div {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 60px;
}

.day div img {
    background-color: #A49EFF;
    
    width: 35px;
    height: 35px;

    margin-left: 10px;
    padding: 5px;
    border-radius: 50%;
}

.days .day h2 {
    font-size: 24px;
    font-weight: normal;
}

/* PORTRAIT */
@media (max-width: 500px) {
    body {
        background: none;
    }
    .background {
        width: 100%;
    }
    header {
        flex-direction: column;
        align-items: unset;
    }
    header div {
    margin-top: 50px;
    }
    main .now {
        flex-direction: column;
        height: 302px;
    }
    main .now .temp {
        margin-left: -10px;
        margin-right: 0;
        margin-bottom: 50px;
    }
    .now .temp img {
        margin-right: 0;
    }

    .card .content .next-hours {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 40px;
    }

    .forward-days .card .days {
        display: none;
    }
}