@import url('https://fonts.googleapis.com/css?family=Roboto:400,700|Source+Sans+Pro:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;

    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #dddddd;

    display: flex;
    flex-direction: column;

    background-image: url('https://source.unsplash.com/collection/1129245');
    background-repeat: no-repeat;
    background-size: cover;
}
    
.background {
    /* background: linear-gradient(rgba(87, 80, 182, 0.514), rgba(165, 158, 255, 0.514)) no-repeat; */
       
    background-color: #eeeeee;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);

    width: 80%;
    margin: 0 auto;
    position: relative;
}

header, main {
    margin: 0 auto;
    padding: 0 50px;

}

footer {
    color: #fcfcfc;
    font-size: 14px;
    text-align: center;

    background-color: #111111;

    margin-top: auto;
    padding: 20px;
}

footer span {
    color: rgb(134, 42, 134);
}

/* HEADER */
header {
    padding: 30px 50px;
    background-color: rgb(16, 13, 85);

    display: flex;
    align-items: center;

    position: relative;
}

header div h3 {
    font-weight: bold;
    margin-bottom: 5px;
}

header .searchForm {
    position: absolute;
    right: 50px;
}

header .searchForm input {
    font-size: 16px;
    padding: 6px 12px;

    border-radius: 4px;
}

header .searchForm button {
    font-size: 14px;
    font-weight: bold;
    padding: 8px 12px;
    
    border-radius: 4px;

    background-color: #A49EFF;

    cursor: pointer;
}

/* MAIN */
main .now {
    display: flex;

    margin: 80px auto 140px auto;
    height: 140px;
    width: 100%;

    opacity: 1;

    transition: opacity 500ms;
}

main .now.displayed {
    opacity: 1;
}

main .now .temp {
    display: flex;

    margin-right: 140px;
}

main .now img {
    width: 140px;
    margin-right: 15px;
}

.now .degrees {
    text-align: center;

    position: relative;
    color: black;
}

.now .degrees h1 {
    font-size: 500%;
    font-weight: normal;
}

.now .degrees span {
    position: absolute;
    font-size: 250%;
    top: 10px;
    right: -10px;
}

.now .degrees p {
    text-align: left;
}

/* DETAILS */
main .now .details {
    height: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    
    align-items: center;
}

.now .details div {
    display: flex;
}

.details div img {
    width: 45px;
    height: 45px;

    margin-right: 10px;
    padding: 5px;

    border-radius: 5px;

    background-color: #A49EFF;
}

.details div .info {
    display: flex;
    flex-direction: column;
}

.details div h4 {
    color: #999999;
    font-size: 14px;

    margin-bottom: 5px;
}

.details div p {
    color: #111;
}

.card {
    background-color: rgba(16, 13, 85, 0.9);

    border-radius: 16px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);

    padding: 20px;
    margin-bottom: 80px;
}

/* TODAY */
.today .card {
    padding: 30px;
}

.card h2 {
    font-size: 18px;
}

.today .card .content {
    margin-top: 20px;
}

.card .content .next-hours {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 45px;
}

.content .next-hours .hour {
    display: flex;
    flex-direction: column;
    

    background-color: #07007D;
    
    width: 80px;
    height: 200px;
    padding: 10px;
    text-align: center;

    border: 0.5px solid #969696;
    border-radius: 50px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.next-hours .hour h3 {
    font-size: 18px;
    font-weight: normal;
}

.next-hours .hour img {
    background-color: #A49EFF;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    justify-self: center;
    align-self: center;

    margin: 30px auto;
    padding: 10px;
}

.next-hours .hour h2 {
    font-size: 24px;
    font-weight: normal;
}

/* NEXT DAYS */
.forward-days .card .days {
    margin-top: 20px;

    display: grid;
    grid-template-columns: repeat(6, 130px);
    gap: 30px;

    justify-content: center;
}

.card .days .day {
    background-color: #07007D;
    border: 0.5px solid #969696;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    padding: 5px 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.days .day h3 {
    font-size: 18px;
}

.days .day div {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 60px;
}

.day div img {
    background-color: #A49EFF;
    
    width: 35px;
    height: 35px;

    margin-left: 10px;
    padding: 5px;
    border-radius: 50%;
}

.days .day h2 {
    font-size: 24px;
    font-weight: normal;
}

/* PORTRAIT */
@media (max-width: 1313px) {
    .card .content .next-hours {
        grid-template-columns: repeat(5, 1fr);
    }
    .forward-days .card .days {
        grid-template-columns: repeat(5, 130px);
        gap: 30px;
    }
}

@media (max-width: 1160px) {
    .card .content .next-hours {
        grid-template-columns: repeat(4, 1fr);
    }
    .forward-days .card .days {
        grid-template-columns: repeat(4, 130px);
        gap: 30px;
    }
}

@media (max-width: 1000px) {
    .card .content .next-hours {
        grid-template-columns: repeat(3, 1fr);
    }
    .forward-days .card .days {
        grid-template-columns: repeat(3, 130px);
        gap: 30px;
    }
}

@media (max-width: 840px) {
    .background {
        width: 90%;
    }
}

@media (max-width: 748px) {
    .content .details div {
        display: flex;
        flex-direction: column;
    }
    .details div img {
        margin-right: 0;
        margin-bottom: 5px;
    }
}

@media (max-width: 659px) {
    .today .card .content {
        display: flex;
        flex-flow: column-reverse;
    }
    .card .content .next-hours {
        justify-items: center;
    }
    .card .content .details {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        margin-bottom: 30px;
    }
    .content .details div {
        flex-direction: row;
    }
    .details div img {
        margin-right: 10px;
    }
    .content .details div:first-child {
        margin-bottom: 0;
        margin-top: 0;
    }
    .forward-days .card .days {
        gap: 20px;
    }
}

@media (max-width: 600px) {
    .card .content .details {
        padding: 0;
    }
    .forward-days .card .days {
        grid-template-columns: repeat(2, 130px);
        gap: 30px;
    }
}

@media (max-width: 560px) {
    .card .content .next-hours {
        gap: 10px;
    }
}